{% extends "base.html" %}

{% block title %}
set password
{% endblock title %}

{% block content %}
<div class="container">

    {% if form %}
    <div class="row g-4">
        <!-- Main content START -->
        <div class="col-lg-8 mx-auto">
            <div class="vstack py-0 tab-content">

                <!-- Change your password START -->
                <div class="card card-body rounded-3 p-4">
                    <!-- Title START -->
                    <h2 class="">
                        Enter new password
                    </h2>
                    <h6 class="mb-0">Please enter your new password twice so we can verify you typed it in correctly.
                    </h6>

                    <!-- Title START -->
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mt-2">
                                <label class="form-label">New password</label>
                                <!-- Input group -->
                                <div class="input-group">
                                    <input class="form-control fakepassword" type="password"
                                        placeholder="Enter new password" name="new_password1">
                                    <span class="input-group-text p-0">
                                        <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="mt-3">
                                <label class="form-label">Confirm Password</label>
                                <!-- Input group -->
                                <div class="">
                                    <input
                                        class="form-control {% if form.new_password2.errors %} is-invalid {% endif %}"
                                        type="password" name="new_password2"
                                        value="{{form.new_password2.value|default:''}}">
                                </div>
                                {% for err in form.new_password2.errors %}
                                <small class="form-text text-danger">
                                    {{err}}
                                </small>
                                {% endfor %}
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success btn-sm">Reset My Password</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Card END -->
            </div>
        </div>
        <!-- Main content END -->
    </div> <!-- Row END -->

    {% else %}
    <div class="row py-sm-5">
        <!-- Error 404 START -->
        <div class="col-lg-8 mx-auto">
            <h2 class="mb-2 h1">Password reset unsuccessful</h2>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
            <!-- Button -->
            <a class="btn btn-primary-soft btn-sm" href="{% url 'password-reset' %}">new request</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock content %}