{% extends "base.html" %}

{% block title %}
password reset complete
{% endblock title %}

{% block content %}
<div class="container">
    <!-- Extra space -->
    <!-- <div class="h-100px d-none d-lg-block"></div> -->
    <div class="row py-sm-5">
        <!-- Error 404 START -->
        <div class="col-lg-8 mx-auto">
            <h2 class="mb-2 h1">Password reset complete...</h2>
            <p>Your password has been set. You may go ahead and log in now..</p>
            <!-- Button -->
            <a class="btn btn-primary-soft btn-sm" href="{% url 'login' %}">Got to Login</a>
        </div>
    </div>
    <!-- Extra space -->
    <div class="h-100px d-none d-lg-block"></div>
    <!-- Row END -->
</div>
{% endblock content %}