{% extends "base.html" %}


{% block content %}

<div class="container">

  <div class="row g-4">
    <!-- Main content START -->
    <div class="col-lg-8 mx-auto">
      <div class="vstack py-0 tab-content">
        <!-- Change your password START -->
        <div class="card">
          <!-- Title START -->
          <div class="card-header border-0 pb-0">
            <h5 class="card-title">Change your password</h5>
            <p class="mb-0">See resolved goodness felicity shy civility domestic had but.</p>
          </div>
          <!-- Title START -->
          <div class="card-body">
            <!-- Settings START -->
            <form class="row g-3" method="post" action="">
              {% csrf_token %}
              <!-- Current password -->
              <div class="col-12">
                <label class="form-label">Current password</label>

                <input type="password" class="form-control {% if form.old_password.errors %} is-invalid {% endif %}"
                  placeholder="" name="old_password" value="{{form.old_password.value|default:''}}">

                {% for err in form.old_password.errors %}
                <small class="text-danger"> {{err}} </small>
                {% endfor %}
              </div>
              <!-- New password -->
              <div class="col-12">
                <label class="form-label">New password</label>
                <!-- Input group -->
                <div class="input-group">
                  <input class="form-control fakepassword" type="password" id="psw-input"
                    placeholder="Enter new password" name="new_password1">
                  <span class="input-group-text p-0">
                    <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                  </span>
                </div>

              </div>
              <!-- Confirm password -->
              <div class="col-12">
                <label class="form-label">Confirm password</label>
                <input type="password" class="form-control {% if form.new_password2.errors %} is-invalid {% endif %}"
                  placeholder="" name="new_password2">
                {% for err in form.new_password2.errors %}
                <small> {{err}} </small>
                {% endfor %}
              </div>
              <!-- Button  -->
              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary-soft mb-0">Update password</button>
              </div>
            </form>
            <!-- Settings END -->
          </div>
        </div>
        <!-- Card END -->
      </div>
    </div>
    <!-- Main content END -->
  </div> <!-- Row END -->
</div>

{% endblock content %}