{% extends "base.html" %}

{% block title %}
password reset sent
{% endblock title %}

{% block content %}
<div class="container">
    <!-- Extra space -->
    <!-- <div class="h-100px d-none d-lg-block"></div> -->
    <div class="row py-sm-5">
        <!-- Error 404 START -->
        <div class="col-lg-8 mx-auto">
            <h2 class="mb-2 h1">Password reset sent</h2>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should
                receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam
                folder.</p>
            <!-- Button -->
            <a class="btn btn-primary-soft btn-sm" href="{% url 'login' %}">Got to Login</a>
        </div>
    </div>
    <!-- Extra space -->
    <div class="h-100px d-none d-lg-block"></div>
    <!-- Row END -->

</div>
{% endblock content %}